---
layout: page
title: Blog posts
menu: main
navigation_weight: 5
color: "#cbd5e8"
---
<table>
<tr>
    <td colspan="2" valign="top">
<div id="visual"></div>
<script type="text/javascript" src="d3.min.js"></script>
<script type="text/javascript" src="d3.layout.cloud.js"></script>
<!-- <script type="text/javascript" src="underscore-min.js"></script> -->
<script>
{% capture tags %}
[
{% for post in site.categories.main %}
{% unless post.private %}
{% for tag in post.tags %}
"{{tag}}"|
{% endfor %}
{% endunless %}
{% endfor %}
]
{% endcapture %}

var words = {{ tags | strip_newlines | replace: "|", ","}}
var cloudData = {};
words.forEach(function(w) {
  if (cloudData.hasOwnProperty(w)) {
    cloudData[w] = cloudData[w] + 1
  } else {
    cloudData[w] = 1
  }
})
var data = []
data = Object.keys(cloudData).map(function(w) {
  return {text: w, size: cloudData[w]*10}
})
console.log(JSON.stringify(data))
var fill = d3.scale.category20();
d3.layout.cloud().size([800, 500])
    .words(data)
    .padding(5)
    .rotate(function() { return ~~(Math.random() * 2) * 90; })
    .font("Impact")
    .fontSize(function(d) { return d.size; })
    .on("end", draw)
    .start();

function draw(words) {
    d3.select("#visual").append("svg")
      .attr("width", 800)
      .attr("height", 500)
    .append("g")
      .attr("transform", "translate(400,250)")
    .selectAll("text")
      .data(words)
    .enter()
      .append("a")
      .attr("xlink:href", function(d) { return "#" + d.text }).append("text")
      .style("font-size", function(d) { return d.size + "px"; })
      .style("font-family", "Roboto")
      .style("fill", function(d, i) { return fill(i); })
      .attr("text-anchor", "middle")
      .attr("transform", function(d) {

        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
      })
      .text(function(d) { return d.text; });
  }
  function drawUpdate(words){
   d3.layout.cloud().size([800, 500])
      .words(words)
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .start();


      d3.select("svg")
      .selectAll("g")
        .attr("transform", "translate(400,250)")
      .selectAll("text")
        .data(words).enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Roboto")
        .style("fill", function(d, i) { return fill(i); })

        .attr("transform", function(d) {

          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });



  }

  setInterval(function () {
        var d_new = data;
        d_new.push({word:randomWord(),weight:randomWeight()});

         drawUpdate(d_new.map(function(d) {
        return {text: d.word, size: d.weight};
      }));
      }, 1500);

  function randomWord() {
          var text = "";
          var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";

          for( var i=0; i < 5; i++ )
              text += possible.charAt(Math.floor(Math.random() * possible.length));

          return text;
      }
      function randomWeight(){
        var r = Math.round(Math.random() * 100);
        return r;
      }
</script>
</td></tr>

<tr><td>
<h2 id="bytag">:: By tag ::</h2>
{% capture tags %}
  {% for tag in site.tags %}
    {% assign publicexists = false %}
    {% for post in tag[1] %}
      {% unless post.private %}
        {% assign publicexists = true %}
      {% endunless %}
    {% endfor %}

    {% if publicexists %}
      {{ tag | first }}
    {% endif %}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h3 id="{{ tag }}">- {{ tag }}</h3>
  <ul>
  {% for post in site.tags[tag] %}
  {% unless post.private %}
    <li><time style="color:#666;font-size:11px;" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endunless %}
  {% endfor %}
  </ul>
{% endfor %}

    </td>
    <td valign="top">

<h2 id="chronological">:: Chronological ::</h2>
<ul>
  {% for post in site.categories.main %}
  {% unless post.private %}
    <li>
      <time style="color:#666;font-size:11px;" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endunless %}
  {% endfor %}
</ul>
    </td></tr></table>
