---
layout: page
title: Blog posts
---
<div id="visual"></div>
<script type="text/javascript" src="p5.min.js"></script>
<script>
var alltags

function setup() {
  {% capture posts %}
  [
  {% for post in site.posts %}
  {
  "title"    : "{{ post.title }}",
  "url"      : "{{ post.url }}",
  "date"     : "{{ post.date | date: "%B %d, %Y" }}",
  "tags"     : "{{ post.tags | join: ';' }}"
  } {% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  ]
  {% endcapture %}
  var posts = {{posts | strip_newlines}}
  posts.map(function(p) {
    p.tags = p.tags.split(';')
  })

  alltags = posts.map(function(p) {
    return p.tags.map(function(t) {
      return {"tag": t, "url": p.url}
    })
  }).reduce(function(prev,curr) {
    return prev.concat(curr) // [{tag:'paperjs', title:'url1'}, {tag:'howto', title:'url2'}, {tag:'paperjs',title:'url3'}]
  }).reduce(function(prev, curr) {
    var newObject = prev
    if ( ! newObject[curr['tag']] ) {
      newObject[curr['tag']] = []
    }
    newObject[curr['tag']].push(curr['url'])
    return newObject
  },{}) // {polymer:[url1,url2],paperjs:[url3,url4,url5],d3:[url6],...}

  var myCanvas = createCanvas(800, 200);
  myCanvas.parent('visual')

  noLoop()
}

function draw() {
  Object.keys(alltags).forEach(function(t) {
    textSize(5*alltags[t].length)
    text(t, Math.random()*600, Math.random()*200)

  })
}
</script>

<h2>:: By tag ::</h2>
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h3 id="{{ tag }}">- {{ tag }}</h3>
  <ul>
  {% for post in site.tags[tag] %}
    <li><time style="color:#666;font-size:11px;" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

<h2>:: Chronological ::</h2>
<ul>
  {% for post in site.posts %}
    <li>
      <time style="color:#666;font-size:11px;" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
