---
layout: page
title: Blog posts
permalink: blog.html
---
<div id="visual"></div>
<script type="text/javascript" src="d3.min.js"></script>
<script type="text/javascript" src="underscore-min.js"></script>
<script>
function pairwise(list) {
  if (list.length < 2) { return []; }
  var first = list[0],
      rest  = list.slice(1),
      pairs = rest.map(function (x) { return [first, x]; });
  return pairs.concat(pairwise(rest));
}
function partition(items, size) {
    var result = _.groupBy(items, function(item, i) {
        return Math.floor(i/size);
    });
    return _.values(result);
}

// Get the nodes
{% capture posts %}
[
{% for post in site.posts %}
{% unless post.private %}
{
"title"    : "{{ post.title }}",
"url"      : "{{ post.url }}",
"date"     : "{{ post.date | date: "%B %d, %Y" }}",
"tags"     : "{{ post.tags | join: ';' }}"
} {% if forloop.last %}{% else %},{% endif %}
{% endunless %}
{% endfor %}
]
{% endcapture %}
var posts = {{posts | strip_newlines}}
posts.map(function(p) {
  return p.tags = p.tags.split(';')
})

var nodesObject = _.flatten(posts.map(function(n) {
  return n.tags.map(function(t) {
    return {'tag':t, 'url':n.url}
  })
})).reduce(function(prev, curr) {
  var thisCollection = prev
  if ( ! (curr['tag'] in thisCollection) ) {
    thisCollection[curr['tag']] = []
  }
  thisCollection[curr['tag']].push(curr['url'])
  return thisCollection
},{})
var nodes = _.keys(nodesObject).map(function(n,i) {
  return {"index": i, "tag":n, "urls":nodesObject[n]}
})
var nodeIndices = {};
nodes.map(function(n) {
  nodeIndices[n.tag] = n.index
})

// Get the links
var linksList = _.flatten(posts.filter(function(p) {
  return p.tags.length > 1
}).map(function(p) {
  return pairwise(p.tags)
}))
var linkPairs = partition(linksList,2).map(function(l) {
  if ( l[0] > l[1] ) {
    return [l[1],l[0]]
  } else {
    return [l[0],l[1]]
  }
})
var linkCounted = linkPairs.reduce(function(prev, curr) {
  var thisCollection = prev
  if ( curr in thisCollection ) {
    thisCollection[curr] += 1
  } else {
    thisCollection[curr] = 1
  }
  return thisCollection
}, {})
var links = _.keys(linkCounted).map(function(k) {
  var source_target = k.split(',')
  return {"source": nodeIndices[source_target[0]], "target": nodeIndices[source_target[1]], "weight": linkCounted[k]}
})
//  links = [
//   {"source":2,"target":1,"dikte":5},
//   {"source":19,"target":24,"dikte":1},
//   {"source":19,"target":22,"dikte":3},
//   {"source":22,"target":24,"dikte":1},
//   {"source":19,"target":20,"dikte":3},
//   {"source":19,"target":1,"dikte":2},
//   {"source":20,"target":1,"dikte":1},
//   {"source":22,"target":1,"dikte":1},
//   {"source":20,"target":22,"dikte":2},
//   {"source":22,"target":23,"dikte":1},
//   {"source":12,"target":21,"dikte":1},
//   {"source":12,"target":1,"dikte":2},
//   {"source":21,"target":1,"dikte":1},
//   {"source":19,"target":5,"dikte":1},
//   {"source":5,"target":1,"dikte":3},
//   {"source":17,"target":18,"dikte":1},
//   {"source":14,"target":15,"dikte":1},
//   {"source":14,"target":16,"dikte":1},
//   {"source":16,"target":15,"dikte":1},
//   {"source":13,"target":2,"dikte":1},
//   {"source":5,"target":13,"dikte":1},
//   {"source":13,"target":1,"dikte":1},
//   {"source":9,"target":10,"dikte":2},
//   {"source":9,"target":6,"dikte":2},
//   {"source":6,"target":10,"dikte":2},
//   {"source":4,"target":6,"dikte":1},
//   {"source":4,"target":7,"dikte":1},
//   {"source":6,"target":7,"dikte":1}
// ]

var width = 600,
    height = 400;

var force = d3.layout.force()
    .charge(-120)
    .linkDistance(30)
    .size([width, height]);

var svg = d3.select("#visual").append("svg")
    .attr("width", width)
    .attr("height", height);

force
    .nodes(nodes)
    .links(links)
    .start();

var link = svg.selectAll(".link")
    .data(links)
  .enter().append("line")
    .attr("class", "link")
    .style({
      "stroke-width": function(d) { return d.weight; },
      "stroke": "black",
      "opacity": 0.5
    })


var node = svg.selectAll(".node")
    .data(nodes)
  .enter()
  .append("a")
    .attr("xlink:href", function(d) { return "#" + d.tag })
  .append("circle")
    .attr("class", "node")
    .attr("r", 5)
    .style("fill", "black")
    .style("opacity", 0.5)
    .call(force.drag)

node.append("title")
    .text(function(d) { return d.tag; });

force.on("tick", function() {
  link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
});
</script>

<h2>:: By tag ::</h2>
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h3 id="{{ tag }}">- {{ tag }}</h3>
  <ul>
  {% for post in site.tags[tag] %}
    <li><time style="color:#666;font-size:11px;" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

<h2>:: Chronological ::</h2>
<ul>
  {% for post in site.posts %}
  {% unless post.private %}
    <li>
      <time style="color:#666;font-size:11px;" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endunless %}
  {% endfor %}
</ul>
