
{% include header.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>i0u19a Instructor Notes</h1>
      </div>
    </div>

  <div class="container-fluid">

{% for post in site.posts reversed %}
{% if post.instructor == "true" %}

    <div class="row">
        <div class="col-md-6">
          <p>{{ post.date | date: "%-d %B %Y" }}</p>
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
       </div>

    </div><hr/>

{% endif %}
{% endfor %}


</div> <!-- container end -->

{% include footer.html %}
