AuthUserFile /Users/jaerts/.htpasswd
AuthGroupFile /Users/jaerts/.htgroup
AuthName "Please Enter Password"
AuthType Basic
Require valid-user
IndexIgnore *

<Limit GET POST>
require group instructors
</Limit>

<Files .htaccess>
order allow,deny
deny from all
</Files>
